<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button>click</button>
    <script>
      const btn = document.querySelector(`button`);
      
      btn.addEventListener('click', () => {
        console.log('clicked');
        
        fetch(`http://localhost:80/`)
          .then(response => console.dir(response));
      });
      
     
    </script>
  </body>
</html>
