html {
    font-size: 100%;
    font-family: 'IBM Plex Sans KR', serif;
}

body {
    width: 80%;
    margin: 0 2em;
    background-color: #f0f0f0;
}

ol {
    list-style-type: decimal;
}

li {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

p {
    margin: 0.1em;
}


.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

#bus-image {
    max-width: 10vw;
    height: 10vw;
    margin: 1em;
}

/* 타이틀 고속버스 좌석 알림 서비스 */
/* h1엘리먼트에 감싸져 있지만 그것보다 상위에서 적용시켜버린다. class의 override개념과 유사 */
#title {
    font-size: max(40px, 5vw);
    margin: auto 1em;
    /* font-family: 'IBM Plex Sans KR', serif; 근데 다른 폰트로 바꿔주자*/
}

header,
footer {
    font-family: 'Jua', serif;
}

footer {
    padding: 20px 0;
    border-top: 2px solid #cdcdcd;
}

.main-content {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 1em;
    margin: 20px 0;
    /* max-height: 70vh; */
}

.search-container {
    background-color: #e6e6e6;
    border-radius: 10px 10px;
    width: max(100px, 15vw);
    height: max(50px, 7vw);
    justify-content: center;
    align-items: center;
}

.search {
    width: max(4vw, 40px);
}

.search-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.header-container {
    /* position: sticky; */
    top: 0;
    z-index: var(--z-index-top);
}

.column {
    flex-direction: column;
}




ul.main-menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 5% 2%;
    border-width: 1px;
    border-radius: 1em;
    padding-bottom: 2%;
}

div.main-button {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

select {
    font-size: 0.9rem;
    padding: 10% 5px;
  	min-height: 2em;
  	max-width: 25em;
    margin: 1em auto;
}

/* #bar {
    background-color: #cdcdcd;
    min-height: 2px;
    margin: 1em auto;   
} */

#emoji-image {
    width: auto;
    max-height: 4em;
}

/* 이미지크기 설정하기 */
.normal-size-image {
    width: 1.5em;
    height: auto;
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.itnr-item-container {
    display: table;
    width: 90%;
    max-height: 60%;
    padding: 1em 0;
    border-bottom: 1px solid #e6e6e6;
}

.itnr-content-container {
    overflow-y: scroll;
    max-height: 500px;
}

.itnr-content-container span {
    font-size: large;
    vertical-align: middle;
}

.time,
.busCmp,
.remain,
.busGrd {
    display: table-cell;
    padding: 10px 0;
}

.itnr-head {
    display: table;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
}

.table-cell {
    display: table-cell;
}

.hidden {
    display: none;
}
